@media (max-width:600px){


menu{
    position: fixed;
    width: 40%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: rgba(40, 2, 2, 0.274);
    backdrop-filter: blur(20px);
    right: 0%;
    top: 0%;
    z-index: 10;
    display: none;
    overflow: hidden;
    border-radius:10px;
    border-left: solid 0.5px  rgba(255, 0, 0, 0.432);
}
.minu-sign{
    position: relative;
    background-color: whitesmoke;
    width: 20%;
    left: 1%;
    top: -5px;
    margin-right: 5px;
    padding: 8px;
    border: none;
    border-radius: 7px;
    color: rgb(5, 5, 5);
 
}
#Favorate{
    position: absolute;
    left: -45%;
    color: white;
}
.menu{
display: none;
}
.logo-name{
    img{

        width: 120px;
    }
}
.menu-b{
    position: absolute;
    left: 70%;
    top: 30%;
    font-size: 35px;
    width: 30%;
    color: red;
 
}
.minu-sign{
    width: 45%;
    left: 1%;
    top: -10px;
 
}
.menu-b .search{
    position: absolute;
    width: 80%;
    right: 180px;
    border: none;
    border-radius: 8px;
    padding: 6px;
    color: black;
    background-color: aliceblue;
    font-size: 17px;
    top: 3px;
}

.profile-minu{
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0%;
    
    img{
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        top: -10px;
        left: 5px;
        background-size: cover;
        background-position: center;
    }
    b{
        color: white;
        width: auto;
        position: absolute;
        left: 5%;
        font-size: 15px;
        top: 55%;
    }

}
#open-menu{
    display: inline-flex;
}

#menu-a #b-m-c{
    position: absolute;
    left: 55%;
    top: 1%;
    font-size: 35px;
    color: white;
    width: auto;
     cursor: pointer;
     padding: 20px;
     border: none;
     background-color: rgba(225, 0, 0, 0);
     i{
        font-size: 35px;
     }
}
.list-minu{
position: relative;
top: 10%;
width: 100%;
right: 5%;
height: auto;

ul{
    position: absolute;
    width: 100%;
    left: -10%;
    color: white;
    list-style: none;
   
    li{
        width: auto;
        left: -10%;
        position: relative;
        padding: 10px;
        padding-bottom: 20px;
        font-size: 15px;
        cursor: pointer;
        background-color: none;
        text-align: right;
        border-bottom: solid 0.2px rgba(255, 255, 255, 0.163);
        i{
            font-size: 20px;
            color: red;
        }
        b{
            
            position: absolute;
            width: 20%;
            left: 5%;
            text-align: left;
            font-size: 20px;
            font-family:'Times New Roman', Times, serif;
        }
    }    
}
}

.list-minu li:hover{
    background-color: rgba(255, 0, 0, 0.344);
    border-radius: 10px;
    transition: 0.5s;
    i{
        color: white;
    }
}

.contener-movie{
    min-height: 350px;
}



.contener-movie .box-movie-title-contener{
  position: relative;
    min-width: 40%;
    max-width: 40%;
    max-height: 60%;
    min-height: 60%;
}
.box-movie-title-contener .info-movie{
left: -5%;
.minet{
    font-size: 9px;

}
.Riteng{
    position: absolute;
    left: 55%;
    width: auto;
    font-size: 10px;
    top: 30px;

}
.play-m{
    font-size: 35px;
    left: 5px;
}
.name-mobie{
    font-size: 13px;
    left: 40%;
}
}










}

/* --------------tablet---------------------------- */
@media (min-width:600px) and (max-width:1200px){
    .logo-name{
    position: relative;
    width: 30%;
    height: 100%;
    background-color: none;
    img{
        position: relative;
        top: 6%;
        width: 50%;
        left:2px ;
    }

}
.menu ul li{
position: relative;
left: 4%;
top: -5px;
padding: 5px;

}
.menu ul li a{
font-size: 13px;
}
.menu-b .search{
    width: 40%;
    right: 310px;
    top: -3px;
}
.contener-movie .box-movie-title-contener{
  position: relative;
    min-width: 40%;
    max-width: 40%;
    max-height: 50%;
    min-height: 50%;
}
.box-movie-title-contener .info-movie{

.minet{
    font-size: 14px;

}
.Riteng{
    position: absolute;
    right: 1%;
    width: auto;
    font-size: 20px;
   bottom: 2%;

}
.play-m{
    font-size: 55px;
    left: 0px;

}
.name-mobie{
    font-size: 29px;
    left: 40%;
}
}


#Favorate{
    position: absolute;
    left: -20%;
    color: white;
}


}